* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./img/main-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Maven Pro";
}
.img-circle {
  position: fixed;
  top: 50%;
  right: 50%;
  margin-top: 20%;
  margin-right: -5%;
}
img {

}
.navbar {
  width: 100%;
  height: 100px;
  text-align: center ;
  /*flex-direction: space-between;*/
  font-size: 30px;

}
#navbar {
  margin-top: 40px;
  /*flex-direction: center;*/
  /*text-align: space-around;*/
  /*justify-content: space-between;*/
  color: white;
  font-family:"Maven Pro";
  display: flex;
  justify-content: space-between;
  /*word-spacing: 550px;*/
  align-content: space-between;
  font-weight: 900;
  /*text-align: left;*/

}
.core h1 {
  color: white;
  text-align: center;
  font-size: 152px;
  margin-bottom: 1px;
  padding-top: 140px;

}
.core h2{
  color: white;
  text-align: center;
  font-family: ;
  font-size: 50px;
  margin-top: 1px;
  font-weight: 800;

}
.core{
  flex-direction:center;
  /*align-items: center;*/
  /*flex-direction: row;*/
  align-self: center;

}
#downButton {

}

/*@media (min-width:700px) and (max-width: 980px) {
.visible-desktop {

}
.hidden-tablet {

}
}*/
@media screen and (max-width:790px) {
  #navbar {
    width: 100%;

  }
/*.visiable-phone{

}
.hidden-phone {

}
.visible-tablet {

}

.hidden-desktop {

}*/
}
/*@media (max-width: 480px) {
.hidden-desktop {

}
.visible-tablet {

}
.visiable-phone{

}
}*/
