* {
  box-sizing: border-box;
}
body {
  /*display: flex;*/
  /*align-items: space-between;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./img/main-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Maven Pro";
}
.img-circle {
display: flex;
  position: absolute;
  /*color: white;*/
  height: 65px;
  width: 65px;
  background: white;

  bottom: 05%;
  right: 48%;
  border-radius: 50%;
  border: solid lightgrey;

  /*margin-top: 20%;*/
  /*margin-right: -5%;*/
}
i.fa.fa-long-arrow-down {
  font-size: 25px;
  color: lightgrey;
  align-items: center;
  justify-content: center;
  
}
.img-icon {
  display: none;


}
.navbar {
  width: 100%;
  height: 80px;
  padding-top:35px;
  text-align: center;

  font-size: 30px;

}
.icon {
  display: none;
  justify-content: space-around;

}
.mini {
  display: none;
  justify-content: space-around;
  border-radius: 50%;
  /*border: solid white;*/
  /*height: 60px;*/
  /*width: px;*/
  position: relative;
  padding-left: 1.25em;
}
.mini:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double white;
  border-bottom: 0.125em solid white;
}

#navbar {
  margin-top: 0;
  /*padding-top: 5%*/
  padding-left:10%;
  padding-right:10%;
  flex-direction: space-around;
  /*flex-direction: center;*/
  /*text-align: space-around;*/
  justify-content: space-around;
  color: white;
  font-family:"Maven Pro";
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  /*word-spacing: 550px;*/
  align-content: space-between;
  font-weight: 900;
  /*text-align: left;*/

}
.core h1 {
  color: white;
  text-align: center;
  font-size: 152px;
  margin-bottom: 1px;
  padding-top: 10%;
  padding-left: 3.5%;

}
.core h2{
  color: white;
  text-align: center;
  font-family: ;
  font-size: 50px;
  margin-top: 1px;
  font-weight: 800;

}
.core{
  flex-direction:center;
  /*align-items: center;*/
  /*flex-direction: row;*/
  align-self: center;

}
#downButton {

}

/*@media (min-width:700px) and (max-width: 980px) {
.visible-desktop {

}
.hidden-tablet {

}
}*/
@media screen and (max-width:980px) {
  #navbar {
    width: 100%;

    /*padding-top: 10px;*/

  }
  #navbar span {
    display: none;

  }
#navbar span.mini   {
    display: inline;
    padding-top: 5%;

  }
#navbar span.img-icon {
  display: inline;
  /*padding-top: 5%;*/


}
#navbar img {
  height: 45px;
  width: 45px;
}
/*.visiable-phone{

}
.hidden-phone {

}
.visible-tablet {

}

.hidden-desktop {

}*/
}
/*@media (max-width: 480px) {
.hidden-desktop {

}
.visible-tablet {

}
.visiable-phone{

}
}*/
